body {
    font-family: Arial, sans-serif;
    /* margin-bottom: -10px; */
}

.navbar {
    background-color: #000; /* Black color */
    height: 70px; /* Increased height */
}

.navbar-brand {
    color: white !important;
    margin-right: 15px; /* Move brand name more to the left */
    font-size: 1.2rem;
}


.nav-link {
    color: white !important;
    transition: all 0.3s ease-in-out;
    padding: 10px 15px;
}

.nav-link:hover {
    color: #ffcc00 !important; /* Hover effect - Yellow */
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1); /* Box effect */
    border-radius: 5px;
}

.navbar .container {
    justify-content: flex-start; /* Move content to the left */
}

.footer {
    margin-top: 50px;
    background-color: #000; /* Match navbar color */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.carousel-item img {
    width: 100%;
    height: 300px; /* Reduced height */
    object-fit: cover;
}
.start-section {
    margin-top: 40px;
    padding: 30px;
    text-align: center;
    background-color: rgb(225, 225, 225); /* Light background for contrast */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7); /* Black shadow */
    border-radius: 8px; /* Slightly rounded corners */
}
.content-box {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
/* About-us */
.upload-section {
    background-color: #f8f9fa;
    padding: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    text-align: center;
}

.results-box {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    text-align: center;
}




